<link rel="stylesheet" href="/css/style.css">

<div class="row mt-5">
    <div class="col-sm-6 about-left">
      <h2 class="text-center mt-5 mb-4 ml-4 mr-4">Make Everything Organised</h2>
      <p class="mx-5">Each time you start a new project, it's really annoying when all of your projects are all over the places,you need to write them down thoroughly and descriptively in one place with some clicks here and there.</p>
    </div>
    <div class="col-sm-6 about-right">
        <img class="track" src="track.png" alt="">
    </div>
</div>

<div class="row mt-5">
      <div class="col-sm-6 about2-left">
        <img class="track" src="collaborate.png" alt="">
    </div>
    <div class="col-sm-6 about2-right">
      <h2 class="text-center mt-5 mb-4 ml-4 mr-4">Collaborate</h2>
      <p class="mx-5">If you've a team ,collaborate with each other,communicate in realtime and share your works if necessary.There's no way you can't communicate with your team members working remotely.</p>
    </div>
  
</div>

<div class="row mt-5">
    <div class="col-sm-6 about3-left">
      <h2 class="text-center mt-5 mb-4 ml-5 mr-5">Share Your Unique Stories</h2>
      <p class="mx-5">Write down your unique ideas, maybe you can write about your unique journey or you're interested about latest trends.Don't keep those thoughts trapped inside you, let them speak on their own and let others know abut these things.</p>
    </div>
    <div class="col-sm-6 about3-right">
        <img class="track" src="track.png" alt="">
    </div>
</div>