{{!-- <div class="jumbotron">
  <h1 class="display-4">Hello, Freelancers!</h1>
  <p class="lead">This is the place where you can track all your freelance works,ypu can analyze your performance and also ypu can share your stories.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Customize your work records</a>
  </p>
</div>
 --}}
<link rel="stylesheet" href="/css/style.css">


    <div class="row">
      <div></div>
  <div class="col-lg-5 col-md-4">

      <div class="heading-box">
          <h1 class="heading-main">Every freelancer's first choice</h1>
          <p>Do your freelance works more accurately with us,keep track of your works,collabotate,share your stories</p>
          <div class="btn btn-primary">Get Started</div>
         
      </div>
    
  </div>
  <div class="col-lg-7 col-md-6">
    <img class="img" src="hero.png" alt="">
    <div class="icons1">
        <a class="icn" href="#"><i class='bx bxl-facebook'> </i></a>
        <a class="icn" href="#"><i class='bx bxl-instagram'></i></a>
        <a class="icn" href="#"><i class='bx bxl-twitter'></i> </a> 
    </div>
        
    </div>
     
</div>
 
 


